__pycache__
__pycache__/*
*/__pycache__/*
.DS_Store
.DS_Store/*
*/.DS_Store/*
test
test/*
*/test/*
results
results/*
*/results/*
results_final
results_final/*
*/results_final/*
results_final_old
results_final_old/*
*/results_final_old/*
tb
tb/*
*/tb/*
.idea
.idea/*
*/.idea/*
import_models
import_models/*
*/import_models/*
tests/results/*
*/data/dataset/*
.idea
.idea/*
*/.idea/*
build
build/*
*/build/*
Slides
Slides/*
*/Slides/*
*.blend1
data
data/*
*/data/*
resources
resources/*
*/resources/*
PT
PT/*
*/PT/*
learn_dimensionality_reduction/tsne_python/mnist2500_labels.txt
learn_dimensionality_reduction/tsne_python/mnist2500_X.txt
*.blend
*.blend1
*.exr
scenes
scenes/*
*/scenes/*
restir.py
.appveyor.yml
.appveyor.yml/*
*/.appveyor.yml/*
.github
.github/*
*/.github/*
.vscode
.vscode/*
*/.vscode/*
